.container1{
	display:flex;
	flex-wrap: nowrap;
	justify-content:space-around;
	background-color: rgb(255, 250, 230);
	color: rgb(51, 0, 0);
	position: sticky;
	top: 0;



}
.container2{
	background-color: #e0d2b8;
	justify-content: center;
	line-height: 2em;
	padding: 2%;
}

.container2 img{
 float: right;
 border-radius: 40%;
 margin-right: 2%;

}
.container3{
	display: grid;
	grid-template-columns: repeat(3,minmax(300px,1fr));
	background-color:  #e0d2b8;
}

#item4{
	display: grid;
	background-color: red;
}
hr{
	overflow: visible; 
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;

}





a{
	text-decoration: none;

}

a:visited{
	color: blue;
}
a:hover{
	color: red;
}
footer{
	display: flex;
	color: purple;
	align-items: center;
	padding: 2px;
	background-color: white;
	justify-content: space-around;
	background-color: red;

}